---
import ContentPage from "../../../../components/ContentPage.astro";
import ContentPanel from "../../../../components/ContentPanel.astro";
import Gallery from "../../../../components/Gallery.astro";
import {
  staffCopy,
  staffLandscape,
  staffPortraits,
} from "../../../../data/staff";

const copy = staffCopy.en;
---

<ContentPage
  title="Staff | Tiny Temptation Tubs"
  lang="en"
  path="/en/community/staff/"
  heading="Staff"
>
  <ContentPanel>
    <div class="hand-text flex flex-col gap-6">
      {
        copy.paragraphs.map((lines) => (
          <p>
            <em>
              <strong>
                {lines[0]}
                <br />
                {lines[1]}
              </strong>
            </em>
          </p>
        ))
      }
    </div>
  </ContentPanel>
  <Gallery cols={5} altPrefix={copy.altPrefix} images={staffPortraits} />
  <Gallery
    cols={2}
    altPrefix={copy.altPrefix}
    class="w-full"
    images={staffLandscape}
  />
</ContentPage>
