---
import ContentPage from "../../../../components/ContentPage.astro";
import ContentImage from "../../../../components/ContentImage.astro";
import Gallery from "../../../../components/Gallery.astro";
import {
  FEATURED_EVENT_IMAGE_PX,
  FEATURED_EVENT_REM,
  featuredEventImageSizes,
  remScaledWidths,
} from "../../../../data/layout";
import { eventArchiveImages, resolveImage } from "../../../../data/images";
import { eventPhotoAltPrefix } from "../../../../data/ui";
---

<ContentPage
  title="Events | Tiny Temptation Tubs"
  lang="de"
  path="/de/bilder/events/"
  heading="Events"
  gallery
>
  <ContentImage
    src={resolveImage("events/Event_11.07.26.png")}
    width={FEATURED_EVENT_IMAGE_PX}
    sizes={featuredEventImageSizes()}
    widths={remScaledWidths(FEATURED_EVENT_REM)}
    featured="event"
    class="w-full"
    alt="Nächstes Event: Samstag um 18:00 Uhr Serverzeit"
  />
  <h2>★ Archiv ★</h2>
  <Gallery
    wide
    cols={5}
    altPrefix={eventPhotoAltPrefix.de}
    images={eventArchiveImages}
  />
</ContentPage>
