---
import ContentPage from "../../../../components/ContentPage.astro";
import ContentImage from "../../../../components/ContentImage.astro";
import Gallery from "../../../../components/Gallery.astro";
import {
  FEATURED_EVENT_IMAGE_PX,
  FEATURED_EVENT_REM,
  featuredEventImageSizes,
  remScaledWidths,
} from "../../../../data/layout";
import { eventArchiveImages, resolveImage } from "../../../../data/images";
import { eventPhotoAltPrefix } from "../../../../data/ui";
---

<ContentPage
  title="Events | Tiny Temptation Tubs"
  lang="en"
  path="/en/pics/events/"
  heading="Events"
>
  <ContentImage
    src={resolveImage("events/Event_11.07.26.png")}
    width={FEATURED_EVENT_IMAGE_PX}
    sizes={featuredEventImageSizes()}
    widths={remScaledWidths(FEATURED_EVENT_REM)}
    featured="event"
    class="w-full"
    alt="Next event: Saturday at 18:00 server time"
  />
  <h2>★ Archive ★</h2>
  <Gallery
    cols={5}
    altPrefix={eventPhotoAltPrefix.en}
    images={eventArchiveImages}
  />
</ContentPage>
