---
import ContentPage from "../../../../components/ContentPage.astro";
import IntroPanel from "../../../../components/IntroPanel.astro";
import ContentImage from "../../../../components/ContentImage.astro";
import Gallery from "../../../../components/Gallery.astro";
import SectionBreak from "../../../../components/SectionBreak.astro";
import {
  GALLERY_CONTENT_COLUMN_SIZES,
  CONTENT_COLUMN_PX,
  contentColumnWidths,
} from "../../../../data/layout";
import { pageImages } from "../../../../data/images";
import {
  galleryCopy,
  galleryRoom01Images,
  galleryRoom02Images,
  galleryVenueImages,
} from "../../../../data/gallery";

const copy = galleryCopy.en;
---

<ContentPage
  title="The Venue | Tiny Temptation Tubs"
  lang="en"
  path="/en/pics/venue/"
  heading="The Venue"
  gallery
>
  <IntroPanel gap={4} divider>
    <p><strong>A glimpse into our home…</strong></p>
    <p>
      <strong
        >Warm rooms, quiet corners, soft lights, and places where memories are
        made.</strong
      >
    </p>
  </IntroPanel>
  <ContentImage
    src={pageImages.image09}
    width={CONTENT_COLUMN_PX}
    sizes={GALLERY_CONTENT_COLUMN_SIZES}
    widths={contentColumnWidths()}
    class="w-full"
    alt="Exterior view of the bathhouse at night"
  />
  <Gallery wide altPrefix={copy.altPrefix} images={galleryVenueImages} />
  <SectionBreak>
    <h2>{copy.room1Heading}</h2>
  </SectionBreak>
  <Gallery
    wide
    altPrefix={`${copy.room1Heading} screenshot`}
    images={galleryRoom01Images}
  />
  <SectionBreak>
    <h2>{copy.room2Heading}</h2>
  </SectionBreak>
  <Gallery
    wide
    altPrefix={`${copy.room2Heading} screenshot`}
    images={galleryRoom02Images}
  />
</ContentPage>
