---
import ContentPage from "./ContentPage.astro";
import IntroPanel from "./IntroPanel.astro";
import Gallery from "./Gallery.astro";
import SectionHeading from "./SectionHeading.astro";
import { staffCopy, staffMain, staffPartTime } from "../data/staff";
import type { Lang } from "../data/nav";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const copy = staffCopy[lang];
---

<ContentPage
  title={copy.title}
  lang={lang}
  path={copy.path}
  heading={copy.heading}
  gallery
>
  <IntroPanel divider>
    {
      copy.paragraphs.map((text) => (
        <p>
          <strong>{text}</strong>
        </p>
      ))
    }
  </IntroPanel>
  <Gallery wide cols={3} altPrefix={copy.altPrefix} images={staffMain} />
  <SectionHeading>{copy.partTimeHeading}</SectionHeading>
  <Gallery wide cols={3} altPrefix={copy.altPrefix} images={staffPartTime} />
</ContentPage>
