---
import ContentPage from "../../../components/ContentPage.astro";
import ContentImage from "../../../components/ContentImage.astro";
import Gallery from "../../../components/Gallery.astro";
import DiscordButton from "../../../components/DiscordButton.astro";
import {
  PARTNER_LOGO_PX,
  PARTNER_REM,
  remScaledSizes,
  remScaledWidths,
} from "../../../data/layout";
import {
  pageIcons,
  resolveGallery,
  resolveGalleryList,
} from "../../../data/images";
import { DISCORD_MOBATH } from "../../../data/site";
---

<ContentPage
  title="Partner | Tiny Temptation Tubs"
  lang="de"
  path="/de/partner/"
  heading="Partner"
  icon={pageIcons.image03}
>
  <div class="hand-text flex flex-col gap-6">
    <p>
      <em
        ><strong
          >Auch außerhalb unserer Mauern gibt es Orte,<br /> die uns verbunden sind.</strong
        ></em
      >
    </p>
    <p>
      <em
        ><strong
          >Freunde, Häuser und Gemeinschaften,<br /> mit denen wir Geschichten teilen.</strong
        ></em
      >
    </p>
    <p><em><strong>Gemeinsam erschaffen wir eine größere Welt.</strong></em></p>
  </div>
  <ContentImage
    src={resolveGallery("gallery16/0d103a87.png")}
    width={PARTNER_LOGO_PX}
    sizes={remScaledSizes(PARTNER_REM)}
    widths={remScaledWidths(PARTNER_REM)}
    class="w-48 max-w-full"
  />
  <h2>MO'BATH LOFT</h2>
  <p class="hand-text">
    <em
      ><strong
        >MO'BATH LOFT – Das Badehaus ist ein entspannter Ort, der Gäste aller
        Herkunft, Geschlechter und Identitäten willkommen heißt. Genieße heiße
        Bäder, freundliche Gespräche, kleine Spiele und eine schöne Aussicht in
        einer gemütlichen und inklusiven Atmosphäre.<br />
        Das Badehaus ist freitags und sonntags geöffnet. Du kannst jedoch auch außerhalb
        der offiziellen Öffnungszeiten vorbeikommen und dort Zeit verbringen.</strong
      ></em
    >
  </p>
  <h3>Chaos, Cerberus, Goblet, W28, P4</h3>
  <DiscordButton href={DISCORD_MOBATH} />
  <h2>♫ Musikband ♫</h2>
  <Gallery
    aspect="landscape"
    images={resolveGalleryList([
      "gallery02/29745391.png",
      "gallery02/e17de711.png",
    ])}
  />
</ContentPage>
