---
import ContentPage from "../../../../components/ContentPage.astro";
import IntroPanel from "../../../../components/IntroPanel.astro";
import ContentImage from "../../../../components/ContentImage.astro";
import Gallery from "../../../../components/Gallery.astro";
import SectionBreak from "../../../../components/SectionBreak.astro";
import SectionHeading from "../../../../components/SectionHeading.astro";
import {
  GALLERY_CONTENT_COLUMN_SIZES,
  CONTENT_COLUMN_PX,
  contentColumnWidths,
} from "../../../../data/layout";
import { pageImages } from "../../../../data/images";
import {
  galleryCopy,
  galleryRoom01Images,
  galleryRoom02Images,
  galleryVenueImages,
} from "../../../../data/gallery";

const copy = galleryCopy.de;
---

<ContentPage
  title="Das Haus | Tiny Temptation Tubs"
  lang="de"
  path="/de/bilder/haus/"
  heading="Das Haus"
  gallery
>
  <IntroPanel gap={4} divider>
    <p><strong>Ein Blick in unser Haus…</strong></p>
    <p>
      <strong
        >Warme Räume, stille Ecken, sanftes Licht und Orte, an denen
        Erinnerungen entstehen.</strong
      >
    </p>
  </IntroPanel>
  <ContentImage
    src={pageImages.image09}
    width={CONTENT_COLUMN_PX}
    sizes={GALLERY_CONTENT_COLUMN_SIZES}
    widths={contentColumnWidths()}
    class="w-full"
    alt="Außenansicht des Badehauses bei Nacht"
  />
  <Gallery wide altPrefix={copy.altPrefix} images={galleryVenueImages} />
  <SectionBreak>
    <SectionHeading>{copy.room1Heading}</SectionHeading>
  </SectionBreak>
  <Gallery
    wide
    altPrefix={`${copy.room1Heading}-Screenshot`}
    images={galleryRoom01Images}
  />
  <SectionBreak>
    <SectionHeading>{copy.room2Heading}</SectionHeading>
  </SectionBreak>
  <Gallery
    wide
    altPrefix={`${copy.room2Heading}-Screenshot`}
    images={galleryRoom02Images}
  />
</ContentPage>
